<div class="info-owner-card">
  <p class="paragraph grey-01">Valoriser les soft skills</p>
  <div class="xs-paragraph grey-03">
    Vous pouvez donner des badges de compétences aux participants du projet
  </div>
  <%= link_to "Attribuer un badge", participants_projects_path(filters: { project: @project_id }), class: "btn-primary w-100" %>
</div>
