<div class="form__input-wrapper">
  <label class="xs-paragraph grey-01">Uploader l'image de bannière principale</label>
  <span class="hint grey-02">Sélectionner ou importer une image qui donne un aperçu de votre projet (1Mo max)</span>
  <div class="dropzone dropzone-default dz-clickable"
      data-controller="file-uploader"
      data-file-uploader-max-files="1"
      data-file-uploader-max-file-size="1"
      data-file-uploader-accepted-files="image/*"
      data-file-uploader-add-remove-links="true"
      data-file-uploader-files="<%= @main_picture_file %>">
    <%= f.input :main_picture,
                as: :file,
                multiple: false,
                label: false,
                input_html: {
                  direct_upload: true,
                  data: {
                    "file-uploader-target": "input"
                  }
                } %>
    <div class="dropzone-msg dz-message needsclick">
      <%= show_svg "add_photo.svg" %>
      <span class="s-paragraph grey-03">Glisser déposer ou cliquer ici pour ajouter une image</span>
    </div>
  </div>
</div>
