<%= f.input :school_id,
            as: :hidden,
            input_html: { value: @school.id } %>
<div class="form__wrapper--2col admin-panel__form-2-col">
  <%= f.input :level,
              label: t(:level, scope: [:layouts, :school_admin_panel, :school_level, :create_form]) %>
  <%= f.input :name,
              label: t(:name, scope: [:layouts, :school_admin_panel, :school_level, :create_form]) %>
</div>
<%= f.submit t(:submit, scope: [:layouts, :school_admin_panel, :school_level, :create_form]), class: "btn btn-primary__full-width" %>
