<%= render TurboModalComponent.new(title: "") do %>
  <p class="text-center xs-paragraph grey-03">Demande bien envoyée !</p>
  <i class="fa-solid fa-circle-check fa-beat color-var-2 text-center fs-24px"></i>
<% end %>
