<p class="xs-paragraph grey-03">
  Cette application se conforme au Règlement Européen sur la Protection des Données Personnelles et à la loi informatique et Libertés du Nº78-17 du 6 janvier 1978. <br />
  Responsable des traitements : DASEN pour les écoles publiques ou chef d'établissement pour les écoles privées. Traitements réalisés par Kinship en qualité de sous-traitant. <br />
  <br />
  Vous pouvez exercer vos droits sur les données qui vous concernent auprès du responsable des traitements. <br />
  <br />
  Vous pouvez également interpeller la <a href="https://www.cnil.fr/" class="xs-paragraph">CNIL</a> en tant qu'autorité de contrôle. <br />
  Plus de détails sur le portail : <a href="https://www.kinshipedu.fr/mentions-legales" class="xs-paragraph">Politique de protection des données de Kinship Edu</a>
</p>
