<div class="new-modal"
      data-controller="ui--modal"
      data-action="turbo:frame-load->ui--modal#open click@window->ui--modal#close">
  <div class="new-modal__content" data-ui--modal-target="content">
    <turbo-frame id="new-modal"></turbo-frame>
  </div>
</div>