<div class="stepper-card__container">
  <p class="paragraph grey-01">Nos conseils pour une création dynamique</p>
  <div class="stepper-card__stepper">
    <div class="stepper-card__stepper--step">
      <span class="stepper-card__stepper--step--number paragraph-bold color-var-3">1</span>
      <p class="xs-paragraph grey-03"><strong>Créer</strong> votre projet et récupérer le lien d’invitation</p>
    </div>
    <div class="stepper-card__stepper--step">
      <span class="stepper-card__stepper--step--number paragraph-bold color-var-3">2</span>
      <p class="xs-paragraph grey-03"><strong>Partager</strong> ce lien avec vos élèves et les partenaires d’invitation</p>
    </div>
    <div class="stepper-card__stepper--step">
      <span class="stepper-card__stepper--step--number paragraph-bold color-var-3">3</span>
      <p class="xs-paragraph grey-03"><strong>Rechercher</strong> parmi la communauté des parents: du temps et les compétences qui vous manquent</p>
    </div>
    <div class="stepper-card__stepper--step">
      <span class="stepper-card__stepper--step--number paragraph-bold color-var-3">4</span>
      <p class="xs-paragraph grey-03"><strong>Valider</strong> leur participation et ajouter les à la liste des participants.</p>
    </div>
  </div>
</div>
