<p data-controller="flash" class="notice"><%= notice %></p>
<p data-controller="flash" class="alert"><%= alert %></p>

<!--
<%# if notice %>
  <div class="alert alert-info" role="alert">
    <%#= notice %>
  </div>
<%# end %>
<%# if alert %>
  <div class="alert alert-warning" role="alert">
    <%#= alert %>
  </div>
<%# end %>
-->
