<h1>Votre compte a été suspendu</h1>

<p>Suite au violation du réglement de Kinship, votre compte est actuellement suspendu.</p>
<p>Contacter l'équipe Kinship pour plus d'information (kinship@support.fr)</p>

<%= link_to  "Se déconnecter", destroy_user_session_path, class:"button infos-button mb-30px", data: { "turbo-method": :delete, turbo_frame: "_top"  } %>
