<%= render TurboModalComponent.new(title: "Title of the modal") do %>
  <h3>Hello Guys, we are in a modal, awesome.</h3>
  <p class="xs-paragraph">See me in app/views/pages/modal_example.html.erb</p>
  <%= link_to  "Voir la doc", "https://www.bearer.com/blog/how-to-build-modals-with-hotwire-turbo-frames-stimulusjs", allow_external: true, target: "_blank" %>
<% end %>
