<h1 class="title2 dark-01">Veuillez activer votre compte en cliquant sur le lien envoyé par email pour profiter pleinement de notre application.</h1>
<p class="paragraph dark-01">L’équipe Kinship vous remercie de votre inscription.</p>
<p class="xs-paragraph grey-02">Vous ne retrouvez pas l’email ? <%= link_to "Renvoyer l’email de validation", new_user_confirmation_path() %></p>
