<h1 class="title2 dark-01">Inscription réussie</h1>
<p class="paragraph dark-01">Merci d'avoir rejoins la commmunauté Kinship, votre allié pour concrétiser vos projets en connectant enseignants, parents et partenaires.</p>
<div  class="w-150px lottie__check" data-controller="lottie"> </div>
<%= link_to  "Découvrir les projets", root_path, class:"btn-primary" %>
