.d-none {
  display: none !important;
}

.d-hidden {
  visibility: hidden;
}
.opacity-0 {
  opacity: 0;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.hidden {
  display: none !important;
}

.w-full {
  width: 100%;
}