.sticky {
  position: sticky;
}

.left-zero {
  left: 0;
}

.right-zero {
  right: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.unset {
  position: unset !important;
}
