<%= turbo_stream.remove @children %>

<% if @total_childrens.zero? %>
  <%= turbo_stream.update 'childrens' do %>
    <div class="admin-panel-member__empty">
      <p class="admin-panel-member__empty--text s-paragraph grey-02"><%= show_svg "new/info.svg" %> <%= t(current_user.role, scope: [:account, :childrens, :index, :empty_childrens]) %></p>
    </div>
  <% end %>
<% end %>
