.filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;

  border-bottom: 1px solid $dark-01;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    & .filter__title {
      cursor: not-allowed;
    }
  }
}
.filter__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  cursor: pointer;
}
.filter__content {
  display: flex;
  flex-direction: column;
  gap: 0;
}
