.icon {
  &-12x12 {
    height: 12px;
    width: 12px;
  }
  &-16x16 {
    height: 16px;
    width: 16px;
  }
  &-20x20 {
    height: 20px;
    width: 20px;
  }
  &-24x24 {
    height: 24px;
    width: 24px;
  }
  &-32x32 {
    height: 32px;
    width: 32px;
  }
}
