.info-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;

  p {
    width: fit-content;
  }

  &.notice {
    color: $color-var-2;
    background-color: $color-var-2-light;
  }
  &.warning {
    color: $grey-02;
    background-color: $grey-05;
  }
}
