@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.modal {
  animation: modalFadeIn 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}
