#password-message-container {
  .valid {
    color: $color-var-2;
    display: flex;
    gap: 8px;
  }
  .valid:before {
    content: "\2714";
  }

  .invalid {
    color: $color-var-3;
    display: flex;
    gap: 8px;
  }

  .invalid:before {
    content: "\2716";
  }
}
